.courses {
    padding: 3vh 5vw 5vh 3vw;
}

.courses .linha {
    border-bottom: 1px solid #ccc;
    margin: 10px 0 25px 0;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: flex-start;
}

.courses-container .course-box {

    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    flex: 0 1 calc(33.33% - 30px);
    min-width: 23.3%;
    max-width: 23.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.courses-container .course-box img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.courses-container .course-box .content-course-box {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    height: 25%;
    padding-top: 15px;
}

.courses-container .course-box h2 {
    font-size: var(--font-size-medium);
    margin-top: 10px;
}

.courses-container .course-box p {
    font-size: var(--font-size-small);
    margin-top: 8px;
    width: 90%;
    color: var(--body-color-dark);
}

.courses-container .course-box button {
    font-size: var(--font-size-small);
    background-color: var(--buttom-color);
    border: transparent 0 solid;
    border-radius: 20px;
    padding: 12px;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    width: 90%;
    margin: auto;
}

.courses-container .course-box button:hover {
    background-color: rgb(63, 124, 1);
}

.faixa-inclinada {
    position: absolute;
    top: 10px;
    left: 47%;
    width: 165px;
    height: 150px;
    text-align: center;
  }

  .faixa-inclinada::before {
    content: 'Novo';
    position: absolute;
    width: 115px;
    height: 25px;
    background-color: yellow;
    transform: rotate(36deg);
  }


.courses-container .course-box-empty {
    border: 3px dashed var(--body-color-dark);
    border-radius: 2px;
    overflow: hidden;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 1 calc(33.33% - 30px);
    min-width: 23.3%;
    max-width: 23.3%;
    cursor: pointer;
}

.courses-container .course-box-empty img {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .courses-container {
        flex-wrap: nowrap;
        gap: 30px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .courses-container .course-box {
        flex: 0 1 calc(33.33% - 30px);
        min-width: 100%;
        max-width: 100%;
        padding-bottom: 20px;
    }
    .courses-container .course-box .content-course-box {
        margin-bottom: 20px;
    }
    .courses-container .course-box img {
        height: 20vh;
    }

    .courses-container .course-box-empty {
        padding: 20px;
        flex: 0 1 calc(33.33% - 30px);
        min-width: 100%;
        max-width: 100%;
    }

    .footer {
        padding: 20vh 5vw !important;
        /* display: flex; */
        flex-direction: row;
        align-items: start;
        justify-content: space-around !important;
    }

    .footer .contact-box {
        flex-direction: column !important;
        align-items: start !important;
        width: 30% !important;
        justify-content: space-between !important;
    }

    .footer .contact-box h3 {
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }

    .footer .contact-box span {
        font-size: 12px !important;
    }

    .footer .contact-box .social-midia img {
        width: 30px !important;
    }
}