* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    /* Default Colors */
    --light: #FFFFFF;
    --body-color: #EFEFEF;
    --body-color-dark: #666;
    --buttom-color: #01A02A;
    /* Sizes */
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 35px;
    --font-size-extra-large: 60px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-sharp {
  width: 0px;
  transform: rotate(180deg);
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 20
}

body {
    background-color: var(--body-color);
    overflow-x: hidden;
}

.logo {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: var(--font-size-extra-large);
}
.logo .custom-e{
    display: flex;
    flex-direction: column;
    width: 50px;
}
.logo .custom-e .e{
    background-color: black;
    margin: 6px 10px;
    width: 35px;
    height: 5px;
    border-radius: 100px;
}
.swiper {
    width: 600px;
    height: 300px;
  }
  