.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: transparent solid 0px;
    border-radius: 15px;
    width: 50%;
    height: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    position: relative;
}
.modal .modal-content img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    position: relative;
    top: -30px;
    border-radius: 15px;
}
.modal .modal-content .modal-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    padding: 0 150px;
}
.modal .modal-content .modal-text button {
    width: 50%;
    background-color: rgb(63, 143, 223);
}
.modal .modal-content .close {
    font-weight: bolder;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -12%;
    right: -3%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: black;
}

.modal .modal-content h2 {
    font-size: var(--font-size-large);
    margin-top: 10px;
}

.modal .modal-content p {
    font-size: var(--font-size-small);
    margin-top: 8px;
    width: 90%;
    color: var(--body-color-dark);
}

.modal .modal-content button {
    font-size: var(--font-size-small);
    margin-top: 20px;
    background-color: var(--buttom-color);
    border: transparent 0 solid;
    border-radius: 20px;
    padding: 12px;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.modal .modal-content button:hover {
    background-color: rgb(63, 124, 1);
}

@media screen and (max-width: 768px) {
.modal {
    top: 0;
}
.modal .modal-content {
    width: 85%;
    height: 45%;
    justify-content: center;
}
.modal .modal-content .modal-text {
    padding: 0;
}
.modal .modal-content p {
    width: 90%;
}
.modal .modal-content .close {
    top: -30%;
}
}